/* seletores */
/* seletor universal */
* {
    color:sienna;
    background-color: bisque;
}

/* seletor por elemento (tag) */
h1 {
    color:rgb(92, 12, 12);
}
h3 {
    color:rgb(136, 78, 25);
}

/* Seletor por id */
#topo {
    border-bottom: 2px solid lightgoldenrodyellow;
}


#topo ul {
    display: block;
    float: right;
}

#topo ul li{
    display: block;
    float: left;
    padding: 2px 10px;
    border: 1px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    color: rgba(68, 20, 6, 0.904);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

/*#topo ul li:hover {
    color:darksalmon;
}*/

#topo a {
    text-decoration: none;
    color: rgba(68, 20, 6, 0.904);
}

#topo a:hover{
    color: darksalmon;
}